<!DOCTYPE html>
<html>

<head>
    <title>Angular2 - A vanilla implementation</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <h2>
            <span>
    <a href="../index.html">JS Comp</a> &gt; 
    <a href="composition.html">composition</a> &gt;
    angular2 &gt;
  </span> A vanilla implementation
        </h2>

        <ul class="links">
            <li class="">
                <a href="composition_angular2_vanilla_info.html">info</a>
            </li>
            <li class="">
                <a href="composition_angular2_vanilla_app.html">app.ts</a>
            </li>
            <li class="">
                <a href="composition_angular2_vanilla_bootstrap.html">bootstrap.ts</a>
            </li>
            <li class="active">
                <a href="composition_angular2_vanilla_confirm.html">confirm.ts</a>
            </li>
            <li class="">
                <a href="composition_angular2_vanilla_field.html">field.ts</a>
            </li>
        </ul>
        <h4>Code file confirm.ts</h4>
        <pre><code><span class="hljs-keyword">import</span> {Component,Input,Output,EventEmitter} from <span class="hljs-string">'@angular/core'</span>;

@Component({
  selector: <span class="hljs-string">'confirm'</span>,
  template: <span class="hljs-string">`
    &lt;span *ngIf="mode !== 'confirm'"&gt;
      &lt;button (click)="maybe()" [disabled]="mode === 'disabled'"&gt;Submit&lt;/button&gt;
    &lt;/span&gt;
    &lt;span *ngIf="mode === 'confirm'"&gt;
      &lt;button (click)="changedmymind()"&gt;Cancel&lt;/button&gt;
      &lt;button (click)="yesimsure()"&gt;Confirm&lt;/button&gt;
    &lt;/span&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Confirm {
  mode: <span class="hljs-built_in">string</span> = <span class="hljs-string">'waiting'</span>
  @Output() confirm = <span class="hljs-keyword">new</span> EventEmitter&lt;<span class="hljs-built_in">void</span>&gt;()
  @Input() <span class="hljs-keyword">set</span> disabled(bool: <span class="hljs-built_in">boolean</span>){
    <span class="hljs-keyword">this</span>.mode = bool ? <span class="hljs-string">'disabled'</span> : <span class="hljs-string">'waiting'</span>
  }
  maybe() { <span class="hljs-keyword">this</span>.mode = <span class="hljs-string">'confirm'</span> }
  changedmymind() { <span class="hljs-keyword">this</span>.mode = <span class="hljs-string">'waiting'</span> }
  yesimsure() {
    <span class="hljs-keyword">this</span>.confirm.emit();
    <span class="hljs-keyword">this</span>.mode = <span class="hljs-string">'waiting'</span>
  }
}</code></pre>
        <h4>Corresponding file in other implementations using the same framework</h4>
        <h4>Corresponding file in other implementations using a different framework</h4>
        <h5>Cycle - <a href="composition_cycle_comphelper_info.html">With a composition helper</a></h5>
        <pre><code><span class="hljs-keyword">import</span> {span, button} <span class="hljs-keyword">from</span> <span class="hljs-string">'@cycle/dom'</span>;
<span class="hljs-keyword">import</span> xs <span class="hljs-keyword">from</span> <span class="hljs-string">'xstream'</span>

<span class="hljs-keyword">const</span> intent = sources=&gt; xs.merge(
  sources.disabled$.map(i=&gt; i ? <span class="hljs-string">'DISABLE'</span> : <span class="hljs-string">'ENABLE'</span>),
  sources.DOM.select(<span class="hljs-string">'.maybe'</span>).events(<span class="hljs-string">'click'</span>).map(i=&gt;<span class="hljs-string">'MAYBE'</span>),
  sources.DOM.select(<span class="hljs-string">'.cancel'</span>).events(<span class="hljs-string">'click'</span>).map(i=&gt;<span class="hljs-string">'CANCEL'</span>),
  sources.DOM.select(<span class="hljs-string">'.confirm'</span>).events(<span class="hljs-string">'click'</span>).map(i=&gt;<span class="hljs-string">'CONFIRM'</span>)
)

<span class="hljs-keyword">const</span> model = action$ =&gt; action$.fold((s,action)=&gt; {
  <span class="hljs-keyword">switch</span>(action){
    <span class="hljs-keyword">case</span> <span class="hljs-string">'DISABLE'</span>: <span class="hljs-keyword">return</span> <span class="hljs-string">'disabled'</span>
    <span class="hljs-keyword">case</span> <span class="hljs-string">'MAYBE'</span>: <span class="hljs-keyword">return</span> <span class="hljs-string">'confirm'</span>
    <span class="hljs-keyword">case</span> <span class="hljs-string">'ENABLE'</span>: <span class="hljs-keyword">return</span> s === <span class="hljs-string">'disabled'</span> ? <span class="hljs-string">'waiting'</span> : s
    <span class="hljs-keyword">default</span>: <span class="hljs-keyword">return</span> <span class="hljs-string">'waiting'</span>
  }
},<span class="hljs-string">'disabled'</span>)

<span class="hljs-keyword">const</span> view = state$ =&gt; state$.map(state=&gt; state === <span class="hljs-string">'confirm'</span>
  ? span([button(<span class="hljs-string">'.confirm'</span>,<span class="hljs-string">'Confirm'</span>),button(<span class="hljs-string">'.cancel'</span>,<span class="hljs-string">'Cancel'</span>)])
  : button(<span class="hljs-string">'.maybe'</span>,{attrs:{disabled: state === <span class="hljs-string">'disabled'</span>}},<span class="hljs-string">'Submit'</span>)
)

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> sources=&gt; {
  <span class="hljs-keyword">const</span> action$ = intent(sources)  
  <span class="hljs-keyword">const</span> state$ = model(action$)
  <span class="hljs-keyword">const</span> vtree$ = view(state$)
  <span class="hljs-keyword">return</span> {
    DOM: vtree$,
    confirm$: action$.filter(i =&gt; i === <span class="hljs-string">'CONFIRM'</span>)
  }
}</code></pre>
        <h5>React - <a href="composition_react_vanilla_info.html">Vanilla</a></h5>
        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>

<span class="hljs-keyword">let</span> Confirm = React.createClass({
  getInitialState: ()=&gt; ({mode:<span class="hljs-string">'waiting'</span>}),
  maybe() { <span class="hljs-keyword">this</span>.setState({mode:<span class="hljs-string">'confirm'</span>}) },
  changedmymind() { <span class="hljs-keyword">this</span>.setState({mode:<span class="hljs-string">'waiting'</span>}) },
  yesimsure() {
    <span class="hljs-keyword">this</span>.props.confirm();
    <span class="hljs-keyword">this</span>.setState({mode:<span class="hljs-string">'waiting'</span>})
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.state.mode !== <span class="hljs-string">'confirm'</span>
    ? <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.maybe}</span> <span class="hljs-attr">disabled</span>=<span class="hljs-string">{this.props.disabled}</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></span>
    : <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.changedmymind}</span>&gt;</span>Cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.yesimsure}</span>&gt;</span>Confirm<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></span>
  }
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Confirm</code></pre>



        <footer></footer>
    </div>
</body>

</html>