<!DOCTYPE html>
<html>

<head>
    <title>react - createClass</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <a id="logo" href="../index.html"></a>
        <h3>
            <span>a </span>createClass<span> implementation <br/>
  of the <a href="composition_info.html">composition</a> demo
  using <a href="react_info.html">React</a>
  </span>
        </h3>

        <ul class="iconnav">
            <li class=" info">
                <a href="composition_react_createclass_info.html">info</a>
            </li>
            <li class=" file">
                <a href="composition_react_createclass_bootstrap.html">bootstrap.js</a>
            </li>
            <li class="current file">
                <a href="composition_react_createclass_confirm.html">confirm.js</a>
            </li>
            <li class=" file">
                <a href="composition_react_createclass_field.html">field.js</a>
            </li>
            <li class=" file">
                <a href="composition_react_createclass_form.html">form.js</a>
            </li>
        </ul>

        <div class="content">

            <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>

<span class="hljs-keyword">let</span> Confirm = React.createClass({
  getInitialState: () =&gt; ({mode: <span class="hljs-string">'waiting'</span>}),
  maybe () { <span class="hljs-keyword">this</span>.setState({mode: <span class="hljs-string">'confirm'</span>}) },
  changedmymind () { <span class="hljs-keyword">this</span>.setState({mode: <span class="hljs-string">'waiting'</span>}) },
  yesimsure () {
    <span class="hljs-keyword">this</span>.props.confirm()
    <span class="hljs-keyword">this</span>.setState({mode: <span class="hljs-string">'waiting'</span>})
  },
  render () {
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.state.mode !== <span class="hljs-string">'confirm'</span>
    ? <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.maybe}</span> <span class="hljs-attr">disabled</span>=<span class="hljs-string">{this.props.disabled}</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></span>
    : <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.changedmymind}</span>&gt;</span>Cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.yesimsure}</span>&gt;</span>Confirm<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></span>
  }
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Confirm
</code></pre>
            <br/><br/>
            <div id="codeselector" style="display:none;">
                Compare to the same file in <select id="choosecode"></select>
            </div>
            <br/>
            <div class="othercode" data-name="a TypeScript implementation using Angular">
                <p class="codeheadline">The same file in <a href="composition_angular_typescript_info.html">a TypeScript implementation</a> using <a href="angular_info.html">Angular</a> (2.0.0-rc.4):</p>
                <pre><code><span class="hljs-keyword">import</span> {Component,Input,Output,EventEmitter} from <span class="hljs-string">'@angular/core'</span>;

@Component({
  selector: <span class="hljs-string">'confirm'</span>,
  template: <span class="hljs-string">`
    &lt;span *ngIf="mode !== 'confirm'"&gt;
      &lt;button (click)="maybe()" [disabled]="mode === 'disabled'"&gt;Submit&lt;/button&gt;
    &lt;/span&gt;
    &lt;span *ngIf="mode === 'confirm'"&gt;
      &lt;button (click)="changedmymind()"&gt;Cancel&lt;/button&gt;
      &lt;button (click)="yesimsure()"&gt;Confirm&lt;/button&gt;
    &lt;/span&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Confirm {
  mode: <span class="hljs-built_in">string</span> = <span class="hljs-string">'waiting'</span>
  @Output() confirm = <span class="hljs-keyword">new</span> EventEmitter&lt;<span class="hljs-built_in">void</span>&gt;()
  @Input() <span class="hljs-keyword">set</span> disabled(bool: <span class="hljs-built_in">boolean</span>){
    <span class="hljs-keyword">this</span>.mode = bool ? <span class="hljs-string">'disabled'</span> : <span class="hljs-string">'waiting'</span>
  }
  maybe() { <span class="hljs-keyword">this</span>.mode = <span class="hljs-string">'confirm'</span> }
  changedmymind() { <span class="hljs-keyword">this</span>.mode = <span class="hljs-string">'waiting'</span> }
  yesimsure() {
    <span class="hljs-keyword">this</span>.confirm.emit();
    <span class="hljs-keyword">this</span>.mode = <span class="hljs-string">'waiting'</span>
  }
}</code></pre>
                <a href="composition_angular_typescript_info.html" class="codelink" style="display:none;">visit this implementation</a>
            </div>
            <div class="othercode" data-name="a composition helper implementation using CycleJS">
                <p class="codeheadline">The same file in <a href="composition_cycle_comphelper_info.html">a composition helper implementation</a> using <a href="cycle_info.html">CycleJS</a> (10.0.5):</p>
                <pre><code><span class="hljs-keyword">import</span> {span, button} <span class="hljs-keyword">from</span> <span class="hljs-string">'@cycle/dom'</span>
<span class="hljs-keyword">import</span> xs <span class="hljs-keyword">from</span> <span class="hljs-string">'xstream'</span>

<span class="hljs-keyword">const</span> intent = sources =&gt; xs.merge(
  sources.disabled$.map(i =&gt; i ? <span class="hljs-string">'DISABLE'</span> : <span class="hljs-string">'ENABLE'</span>),
  sources.DOM.select(<span class="hljs-string">'.maybe'</span>).events(<span class="hljs-string">'click'</span>).map(i =&gt; <span class="hljs-string">'MAYBE'</span>),
  sources.DOM.select(<span class="hljs-string">'.cancel'</span>).events(<span class="hljs-string">'click'</span>).map(i =&gt; <span class="hljs-string">'CANCEL'</span>),
  sources.DOM.select(<span class="hljs-string">'.confirm'</span>).events(<span class="hljs-string">'click'</span>).map(i =&gt; <span class="hljs-string">'CONFIRM'</span>)
)

<span class="hljs-keyword">const</span> model = action$ =&gt; action$.fold((s, action) =&gt; {
  <span class="hljs-keyword">switch</span> (action) {
    <span class="hljs-keyword">case</span> <span class="hljs-string">'DISABLE'</span>: <span class="hljs-keyword">return</span> <span class="hljs-string">'disabled'</span>
    <span class="hljs-keyword">case</span> <span class="hljs-string">'MAYBE'</span>: <span class="hljs-keyword">return</span> <span class="hljs-string">'confirm'</span>
    <span class="hljs-keyword">case</span> <span class="hljs-string">'ENABLE'</span>: <span class="hljs-keyword">return</span> s === <span class="hljs-string">'disabled'</span> ? <span class="hljs-string">'waiting'</span> : s
    <span class="hljs-keyword">default</span>: <span class="hljs-keyword">return</span> <span class="hljs-string">'waiting'</span>
  }
}, <span class="hljs-string">'disabled'</span>)

<span class="hljs-keyword">const</span> view = state$ =&gt; state$.map(state =&gt; state === <span class="hljs-string">'confirm'</span>
  ? span([button(<span class="hljs-string">'.confirm'</span>, <span class="hljs-string">'Confirm'</span>), button(<span class="hljs-string">'.cancel'</span>, <span class="hljs-string">'Cancel'</span>)])
  : button(<span class="hljs-string">'.maybe'</span>, {attrs: {disabled: state === <span class="hljs-string">'disabled'</span>}}, <span class="hljs-string">'Submit'</span>)
)

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> sources =&gt; {
  <span class="hljs-keyword">const</span> action$ = intent(sources)
  <span class="hljs-keyword">const</span> state$ = model(action$)
  <span class="hljs-keyword">const</span> vtree$ = view(state$)
  <span class="hljs-keyword">return</span> {
    DOM: vtree$,
    confirm$: action$.filter(i =&gt; i === <span class="hljs-string">'CONFIRM'</span>)
  }
}
</code></pre>
                <a href="composition_cycle_comphelper_info.html" class="codelink" style="display:none;">visit this implementation</a>
            </div>
            <div class="othercode" data-name="an es6 implementation using Cyclow">
                <p class="codeheadline">The same file in <a href="composition_cyclow_es6_info.html">an es6 implementation</a> using <a href="cyclow_info.html">Cyclow</a> (0.4.0):</p>
                <pre><code><span class="hljs-keyword">import</span> {Block} <span class="hljs-keyword">from</span> <span class="hljs-string">'cyclow'</span>

<span class="hljs-keyword">const</span> viewConfirm = () =&gt; [
  {tag: <span class="hljs-string">'button'</span>, content: <span class="hljs-string">'Confirm'</span>, on: {click: <span class="hljs-string">'confirm'</span>}},
  {tag: <span class="hljs-string">'button'</span>, content: <span class="hljs-string">'Cancel'</span>, on: {click: <span class="hljs-string">'cancel'</span>}}
]

<span class="hljs-keyword">const</span> viewDefault = mode =&gt; ({
  tag: <span class="hljs-string">'button'</span>,
  content: <span class="hljs-string">'Submit'</span>,
  attrs: {disabled: mode === <span class="hljs-string">'disabled'</span>},
  on: {click: <span class="hljs-string">'maybe'</span>}
})

<span class="hljs-keyword">const</span> Confirm = () =&gt; Block({
  inputs: [<span class="hljs-string">'disabled'</span>],
  outputs: [<span class="hljs-string">'confirmation'</span>],
  on: {
    init: () =&gt; state =&gt; ({mode: <span class="hljs-string">'disabled'</span>}),
    disabled: (disabled, {mode}) =&gt; {
      <span class="hljs-keyword">if</span> (disabled) {
        <span class="hljs-keyword">return</span> state =&gt; ({mode: <span class="hljs-string">'disabled'</span>})
      } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (mode === <span class="hljs-string">'disabled'</span>) {
        <span class="hljs-keyword">return</span> state =&gt; ({mode: <span class="hljs-string">'waiting'</span>})
      }
    },
    maybe: () =&gt; state =&gt; ({mode: <span class="hljs-string">'confirm'</span>}),
    cancel: () =&gt; state =&gt; ({mode: <span class="hljs-string">'waiting'</span>}),
    confirm: () =&gt; [state =&gt; ({mode: <span class="hljs-string">'waiting'</span>}), [<span class="hljs-string">'out.confirmation'</span>]]
  },
  view: ({mode}) =&gt; mode === <span class="hljs-string">'confirm'</span> ? viewConfirm() : viewDefault(mode)
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Confirm
</code></pre>
                <a href="composition_cyclow_es6_info.html" class="codelink" style="display:none;">visit this implementation</a>
            </div>

        </div>
        <footer></footer>
    </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/code.js"></script>
</body>

</html>