<!DOCTYPE html>
<html>

<head>
    <title>React - es6 class</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <h2>
            <span>
    <a href="../index.html">JS Comp</a> &gt; 
    <a href="firebase.html">firebase</a> &gt;
    react &gt;
  </span> es6 class
        </h2>

        <ul class="links">
            <li class="">
                <a href="firebase_react_es6_info.html">info</a>
            </li>
            <li class="">
                <a href="firebase_react_es6_code.html">code</a>
            </li>
            <li class="active">
                <a href="firebase_react_es6_battle.html">battle.js</a>
            </li>
            <li class="">
                <a href="firebase_react_es6_bootstrap.html">bootstrap.js</a>
            </li>
        </ul>
        <h4>Code file battle.js</h4>
        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>
<span class="hljs-keyword">import</span> {subscribe, nudge} <span class="hljs-keyword">from</span> <span class="hljs-string">'../../../nudger'</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Battle</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">React</span>.<span class="hljs-title">Component</span> </span>{
  <span class="hljs-keyword">constructor</span> () {
    <span class="hljs-keyword">super</span>()
    <span class="hljs-keyword">this</span>.state = {
      loaded: <span class="hljs-literal">false</span>,
      status: {},
      teams: []
    }
    subscribe(val =&gt; {
      <span class="hljs-keyword">this</span>.setState({
        loaded: <span class="hljs-literal">true</span>,
        teams: <span class="hljs-built_in">Object</span>.keys(val).sort(),
        status: val
      })
    })
  }

  render () {
    <span class="hljs-keyword">const</span> teamButtons = <span class="hljs-keyword">this</span>.state.teams &amp;&amp;
      <span class="hljs-keyword">this</span>.state.teams.map((team, i) =&gt;
        <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">key</span>=<span class="hljs-string">{</span>`${<span class="hljs-attr">team</span>}${<span class="hljs-attr">i</span>}`} <span class="hljs-attr">onClick</span>=<span class="hljs-string">{nudge.bind(null,</span> <span class="hljs-attr">team</span>)}&gt;</span>
          {team} {this.state.status[team]}
        <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></span>
      )
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>{
        this.state.loaded
          ? teamButtons
          : 'Fetching data...'
        }
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
    )
  }


}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Battle
</code></pre>
        <h4>Corresponding file in other implementations</h4>
        <h5>Angular2 - <a href="firebase_angular2_typescript_info.html">TypeScript</a></h5>
        <pre><code><span class="hljs-keyword">import</span> {Component} from <span class="hljs-string">'@angular/core'</span>;

<span class="hljs-keyword">import</span> {subscribe,nudge} from <span class="hljs-string">'../../../nudger.js'</span>

@Component({
  selector: <span class="hljs-string">'battle'</span>,
  template: <span class="hljs-string">`
    &lt;div *ngIf="loaded"&gt;
      &lt;button *ngFor="let t of teams" (click)="nudge(t)"&gt;
        {{t}} ({{status[t]}})
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;div *ngIf="!loaded"&gt;
      Fetching data...
    &lt;/div&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Battle {
  loaded = <span class="hljs-literal">false</span>
  status = {}
  teams = []
  nudge:<span class="hljs-built_in">Function</span> = nudge
  <span class="hljs-keyword">constructor</span>() {
    subscribe(val=&gt;{
      <span class="hljs-keyword">this</span>.status = val
      <span class="hljs-keyword">this</span>.teams = <span class="hljs-built_in">Object</span>.keys(<span class="hljs-keyword">this</span>.status).sort()
      <span class="hljs-keyword">this</span>.loaded = <span class="hljs-literal">true</span>
    })
  }
}</code></pre>



        <footer></footer>
    </div>
</body>

</html>