<!DOCTYPE html>
<html>

<head>
    <title>angular - TypeScript</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <a id="logo" href="../index.html"></a>
        <h3>
            <span>a </span>TypeScript<span> implementation <br/>
  of the <a href="firebase_info.html">firebase</a> demo
  using <a href="angular_info.html">Angular</a>
  </span>
        </h3>

        <ul class="iconnav">
            <li class=" info">
                <a href="firebase_angular_typescript_info.html">info</a>
            </li>
            <li class="current file">
                <a href="firebase_angular_typescript_battle.html">battle.ts</a>
            </li>
            <li class=" file">
                <a href="firebase_angular_typescript_bootstrap.html">bootstrap.ts</a>
            </li>
        </ul>


        <pre><code><span class="hljs-keyword">import</span> {Component} from <span class="hljs-string">'@angular/core'</span>;

<span class="hljs-keyword">import</span> {subscribe,nudge} from <span class="hljs-string">'../../../nudger.js'</span>

@Component({
  selector: <span class="hljs-string">'battle'</span>,
  template: <span class="hljs-string">`
    &lt;div *ngIf="loaded"&gt;
      &lt;button *ngFor="let t of teams" (click)="nudge(t)"&gt;
        {{t}} ({{status[t]}})
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;div *ngIf="!loaded"&gt;
      Fetching data...
    &lt;/div&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Battle {
  loaded = <span class="hljs-literal">false</span>
  status = {}
  teams = []
  nudge:<span class="hljs-built_in">Function</span> = nudge
  <span class="hljs-keyword">constructor</span>() {
    subscribe(val=&gt;{
      <span class="hljs-keyword">this</span>.status = val
      <span class="hljs-keyword">this</span>.teams = <span class="hljs-built_in">Object</span>.keys(<span class="hljs-keyword">this</span>.status).sort()
      <span class="hljs-keyword">this</span>.loaded = <span class="hljs-literal">true</span>
    })
  }
}</code></pre>
        <br/><br/> The same file in <a href="firebase_cyclow_es6_info.html">an es6 implementation</a> using <a href="cyclow_info.html">Cyclow</a> (0.3.0):
        <pre><code><span class="hljs-keyword">import</span> {Block} <span class="hljs-keyword">from</span> <span class="hljs-string">'cyclow'</span>
<span class="hljs-keyword">import</span> {Component} <span class="hljs-keyword">from</span> <span class="hljs-string">'graflow'</span>
<span class="hljs-keyword">import</span> {subscribe, nudge} <span class="hljs-keyword">from</span> <span class="hljs-string">'../../../nudger'</span>

<span class="hljs-keyword">const</span> nudger = Component({
  inputs: [<span class="hljs-string">'init'</span>, <span class="hljs-string">'nudge'</span>],
  components: {
    nudger: Component(nudge),
    subscriber: Component((v, next) =&gt; subscribe(val =&gt; next(val)))
  },
  connections: [
    [<span class="hljs-string">'in.init'</span>, <span class="hljs-string">'subscriber'</span>],
    [<span class="hljs-string">'subscriber'</span>, <span class="hljs-string">'out'</span>],
    [<span class="hljs-string">'in.nudge'</span>, <span class="hljs-string">'nudger'</span>]
  ]
})

<span class="hljs-keyword">const</span> teamButtons = state =&gt; state.teams.map((team, i) =&gt; ({
  tag: <span class="hljs-string">'button'</span>,
  on: { click: [<span class="hljs-string">'click'</span>, team] },
  content: <span class="hljs-string">`<span class="hljs-subst">${team}</span> <span class="hljs-subst">${state.status[team]}</span>`</span>
}))

<span class="hljs-keyword">const</span> Battle = () =&gt; Block({
  components: {nudger},
  events: {
    init: () =&gt; [
      <span class="hljs-string">'nudger.init'</span>,
      state =&gt; ({
        loaded: <span class="hljs-literal">false</span>,
        status: {},
        teams: []
      })
    ],
    click: team =&gt; [[<span class="hljs-string">'nudger.nudge'</span>, team]],
    nudger: val =&gt; state =&gt; ({
      loaded: <span class="hljs-literal">true</span>,
      teams: <span class="hljs-built_in">Object</span>.keys(val).sort(),
      status: val
    })
  },
  view: state =&gt; ({content: state.loaded
    ? teamButtons(state)
    : <span class="hljs-string">'Fetching data...'</span>
  })
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Battle
</code></pre> The same file in <a href="firebase_react_es6_info.html">an es6 class implementation</a> using <a href="react_info.html">React</a> (15.3.1):
        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>
<span class="hljs-keyword">import</span> {subscribe, nudge} <span class="hljs-keyword">from</span> <span class="hljs-string">'../../../nudger'</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Battle</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">React</span>.<span class="hljs-title">Component</span> </span>{
  <span class="hljs-keyword">constructor</span> () {
    <span class="hljs-keyword">super</span>()
    <span class="hljs-keyword">this</span>.state = {
      loaded: <span class="hljs-literal">false</span>,
      status: {},
      teams: []
    }
    subscribe(val =&gt; {
      <span class="hljs-keyword">this</span>.setState({
        loaded: <span class="hljs-literal">true</span>,
        teams: <span class="hljs-built_in">Object</span>.keys(val).sort(),
        status: val
      })
    })
  }

  render () {
    <span class="hljs-keyword">const</span> teamButtons = <span class="hljs-keyword">this</span>.state.teams &amp;&amp;
      <span class="hljs-keyword">this</span>.state.teams.map((team, i) =&gt;
        <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">key</span>=<span class="hljs-string">{</span>`${<span class="hljs-attr">team</span>}${<span class="hljs-attr">i</span>}`} <span class="hljs-attr">onClick</span>=<span class="hljs-string">{nudge.bind(null,</span> <span class="hljs-attr">team</span>)}&gt;</span>
          {team} {this.state.status[team]}
        <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></span>
      )
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>{
        this.state.loaded
          ? teamButtons
          : 'Fetching data...'
        }
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
    )
  }

}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Battle
</code></pre>



        <footer></footer>
    </div>
</body>

</html>