<!DOCTYPE html>
<html>

<head>
    <title>react - es6 class</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <a id="logo" href="../index.html"></a>
        <h3>
            <span>an </span>es6 class<span> implementation <br/>
  of the <a href="firebase_info.html">firebase</a> demo
  using <a href="react_info.html">React</a>
  </span>
        </h3>

        <ul class="iconnav">
            <li class=" info">
                <a href="firebase_react_es6_info.html">info</a>
            </li>
            <li class="current file">
                <a href="firebase_react_es6_battle.html">battle.js</a>
            </li>
            <li class=" file">
                <a href="firebase_react_es6_bootstrap.html">bootstrap.js</a>
            </li>
        </ul>

        <div class="content">

            <div id="codeselector" style="display:none;">
                Compare <code>battle.js</code> to corresponding file in <select id="choosecode"></select>:
            </div>
            <br/><br/>
            <div class="sidebyside">
                <div>
                    <pre><code>import React from 'react'
import {subscribe, nudge} from '../../../nudger'

class Battle extends React.Component {
  constructor () {
    super()
    this.state = {
      loaded: false,
      status: {},
      teams: []
    }
    subscribe(val =&gt; {
      this.setState({
        loaded: true,
        teams: Object.keys(val).sort(),
        status: val
      })
    })
  }

  render () {
    const teamButtons = this.state.teams &amp;&amp;
      this.state.teams.map((team, i) =&gt;
        &lt;button key={`${team}${i}`} onClick={nudge.bind(null, team)}&gt;
          {team} {this.state.status[team]}
        &lt;/button&gt;
      )
    return (
      &lt;div&gt;{
        this.state.loaded
          ? teamButtons
          : 'Fetching data...'
        }
      &lt;/div&gt;
    )
  }
}

export default Battle
</code></pre>
                </div>
                <div>
                    <div class="othercode" data-name="a TypeScript implementation using Angular">
                        <p class="codeheadline">The same file in <a href="firebase_angular_typescript_info.html">a TypeScript implementation</a> using <a href="angular_info.html">Angular</a> (2.4.9):</p>
                        <pre><code><span class="hljs-keyword">import</span> {Component} from <span class="hljs-string">'@angular/core'</span>;

<span class="hljs-keyword">import</span> {subscribe,nudge} from <span class="hljs-string">'../../../nudger.js'</span>

<span class="hljs-meta">@Component</span>({
  selector: <span class="hljs-string">'#app'</span>,
  template: <span class="hljs-string">`
    &lt;div *ngIf="loaded"&gt;
      &lt;button *ngFor="let t of teams" (click)="nudge(t)"&gt;
        {{t}} ({{status[t]}})
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;div *ngIf="!loaded"&gt;
      Fetching data...
    &lt;/div&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Battle {
  loaded = <span class="hljs-literal">false</span>
  status = {}
  teams = []
  nudge:<span class="hljs-built_in">Function</span> = nudge
  <span class="hljs-keyword">constructor</span>(<span class="hljs-params"></span>) {
    subscribe(val=&gt;{
      <span class="hljs-keyword">this</span>.status = val
      <span class="hljs-keyword">this</span>.teams = <span class="hljs-built_in">Object</span>.keys(<span class="hljs-keyword">this</span>.status).sort()
      <span class="hljs-keyword">this</span>.loaded = <span class="hljs-literal">true</span>
    })
  }
}</code></pre>
                        <a href="firebase_angular_typescript_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an es6 implementation using Cyclow">
                        <p class="codeheadline">The same file in <a href="firebase_cyclow_es6_info.html">an es6 implementation</a> using <a href="cyclow_info.html">Cyclow</a> (0.3.0):</p>
                        <pre><code><span class="hljs-keyword">import</span> {Block} <span class="hljs-keyword">from</span> <span class="hljs-string">'cyclow'</span>
<span class="hljs-keyword">import</span> {Component} <span class="hljs-keyword">from</span> <span class="hljs-string">'graflow'</span>
<span class="hljs-keyword">import</span> {subscribe, nudge} <span class="hljs-keyword">from</span> <span class="hljs-string">'../../../nudger'</span>

<span class="hljs-keyword">const</span> nudger = Component({
  <span class="hljs-attr">inputs</span>: [<span class="hljs-string">'init'</span>, <span class="hljs-string">'nudge'</span>],
  <span class="hljs-attr">components</span>: {
    <span class="hljs-attr">nudger</span>: Component(nudge),
    <span class="hljs-attr">subscriber</span>: Component(<span class="hljs-function">(<span class="hljs-params">v, next</span>) =&gt;</span> subscribe(<span class="hljs-function"><span class="hljs-params">val</span> =&gt;</span> next(val)))
  },
  <span class="hljs-attr">connections</span>: [
    [<span class="hljs-string">'in.init'</span>, <span class="hljs-string">'subscriber'</span>],
    [<span class="hljs-string">'subscriber'</span>, <span class="hljs-string">'out'</span>],
    [<span class="hljs-string">'in.nudge'</span>, <span class="hljs-string">'nudger'</span>]
  ]
})

<span class="hljs-keyword">const</span> teamButtons = <span class="hljs-function"><span class="hljs-params">state</span> =&gt;</span> state.teams.map(<span class="hljs-function">(<span class="hljs-params">team, i</span>) =&gt;</span> ({
  <span class="hljs-attr">tag</span>: <span class="hljs-string">'button'</span>,
  <span class="hljs-attr">on</span>: { <span class="hljs-attr">click</span>: [<span class="hljs-string">'click'</span>, team] },
  <span class="hljs-attr">content</span>: <span class="hljs-string">`<span class="hljs-subst">${team}</span> <span class="hljs-subst">${state.status[team]}</span>`</span>
}))

<span class="hljs-keyword">const</span> Battle = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> Block({
  <span class="hljs-attr">components</span>: {nudger},
  <span class="hljs-attr">events</span>: {
    <span class="hljs-attr">init</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> [
      <span class="hljs-string">'nudger.init'</span>,
      state =&gt; ({
        <span class="hljs-attr">loaded</span>: <span class="hljs-literal">false</span>,
        <span class="hljs-attr">status</span>: {},
        <span class="hljs-attr">teams</span>: []
      })
    ],
    <span class="hljs-attr">click</span>: <span class="hljs-function"><span class="hljs-params">team</span> =&gt;</span> [[<span class="hljs-string">'nudger.nudge'</span>, team]],
    <span class="hljs-attr">nudger</span>: <span class="hljs-function"><span class="hljs-params">val</span> =&gt;</span> state =&gt; ({
      <span class="hljs-attr">loaded</span>: <span class="hljs-literal">true</span>,
      <span class="hljs-attr">teams</span>: <span class="hljs-built_in">Object</span>.keys(val).sort(),
      <span class="hljs-attr">status</span>: val
    })
  },
  <span class="hljs-attr">view</span>: <span class="hljs-function"><span class="hljs-params">state</span> =&gt;</span> ({<span class="hljs-attr">content</span>: state.loaded
    ? teamButtons(state)
    : <span class="hljs-string">'Fetching data...'</span>
  })
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Battle
</code></pre>
                        <a href="firebase_cyclow_es6_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                </div>
            </div>

        </div>
        <footer></footer>
    </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/code.js"></script>
</body>

</html>