<!DOCTYPE html>
<html>

<head>
    <title>react - createClass</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <a id="logo" href="../index.html"></a>
        <h3>
            <span>a </span>createClass<span> implementation <br/>
  of the <a href="localstorage_info.html">localstorage</a> demo
  using <a href="react_info.html">React</a>
  </span>
        </h3>

        <ul class="iconnav">
            <li class=" info">
                <a href="localstorage_react_createclass_info.html">info</a>
            </li>
            <li class=" file">
                <a href="localstorage_react_createclass_bootstrap.html">bootstrap.js</a>
            </li>
            <li class="current file">
                <a href="localstorage_react_createclass_voter.html">voter.js</a>
            </li>
        </ul>

        <div class="content">

            <div id="codeselector" style="display:none;">
                Compare <code>voter.js</code> to corresponding file in <select id="choosecode"></select>:
            </div>
            <br/><br/>
            <div class="sidebyside">
                <div>
                    <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>
<span class="hljs-keyword">import</span> classNames <span class="hljs-keyword">from</span> <span class="hljs-string">'classnames'</span>
<span class="hljs-keyword">const</span> {localStorage} = <span class="hljs-built_in">window</span>

<span class="hljs-keyword">let</span> teams = [<span class="hljs-string">'Valor'</span>, <span class="hljs-string">'Mystic'</span>, <span class="hljs-string">'Instinct'</span>]

<span class="hljs-keyword">let</span> Voter = React.createClass({
  getInitialState: () =&gt; ({team: +(localStorage.getItem(<span class="hljs-string">'JSCOMPVOTE'</span>) || <span class="hljs-number">1</span>)}),
  vote (team) {
    <span class="hljs-keyword">this</span>.setState({team})
    localStorage.setItem(<span class="hljs-string">'JSCOMPVOTE'</span>, team)
  },
  render () {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
      {teams.map((t, n) =&gt; <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">key</span>=<span class="hljs-string">{n}</span>
        <span class="hljs-attr">className</span>=<span class="hljs-string">{classNames({active:</span> <span class="hljs-attr">this.state.team</span> === <span class="hljs-string">n})}</span>
        <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.vote.bind(this,</span> <span class="hljs-attr">n</span>)}&gt;</span>{t}<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
      )}
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
  }
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Voter
</code></pre>
                </div>
                <div>
                    <div class="othercode" data-name="an es6 class implementation using React">
                        <p class="codeheadline">The same file in <a href="localstorage_react_es6class_info.html">an es6 class implementation</a> using <a href="react_info.html">React</a> (15.3.1):</p>
                        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>
<span class="hljs-keyword">import</span> classNames <span class="hljs-keyword">from</span> <span class="hljs-string">'classnames'</span>
<span class="hljs-keyword">const</span> {localStorage} = <span class="hljs-built_in">window</span>

<span class="hljs-keyword">let</span> teams = [<span class="hljs-string">'Valor'</span>, <span class="hljs-string">'Mystic'</span>, <span class="hljs-string">'Instinct'</span>]

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Voter</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">React</span>.<span class="hljs-title">Component</span> </span>{
  <span class="hljs-keyword">constructor</span> () {
    <span class="hljs-keyword">super</span>()
    <span class="hljs-keyword">this</span>.state = {team: +(localStorage.getItem(<span class="hljs-string">'JSCOMPVOTE'</span>) || <span class="hljs-number">1</span>)}
  }
  vote (team) {
    <span class="hljs-keyword">this</span>.setState({team})
    localStorage.setItem(<span class="hljs-string">'JSCOMPVOTE'</span>, team)
  }
  render () {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
      {teams.map((t, n) =&gt; <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">key</span>=<span class="hljs-string">{n}</span>
        <span class="hljs-attr">className</span>=<span class="hljs-string">{classNames({active:</span> <span class="hljs-attr">this.state.team</span> === <span class="hljs-string">n})}</span>
        <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.vote.bind(this,</span> <span class="hljs-attr">n</span>)}&gt;</span>{t}<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
      )}
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
  }
}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Voter
</code></pre>
                        <a href="localstorage_react_es6class_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a TypeScript implementation using Angular">
                        <p class="codeheadline">The same file in <a href="localstorage_angular_typescript_info.html">a TypeScript implementation</a> using <a href="angular_info.html">Angular</a> (2.4.9):</p>
                        <pre><code><span class="hljs-keyword">import</span> {Component} from <span class="hljs-string">'@angular/core'</span>;

@Component({
  selector: <span class="hljs-string">'#app'</span>,
  template: <span class="hljs-string">`
    &lt;button *ngFor="let t of teams; let i = index" (click)="vote(i)" [class.active]="team===i"&gt;{{t}}&lt;/button&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Voter {
  teams = [<span class="hljs-string">"Valor"</span>,<span class="hljs-string">"Mystic"</span>,<span class="hljs-string">"Instinct"</span>]
  team = +(localStorage.getItem(<span class="hljs-string">'JSCOMPVOTE'</span>) || <span class="hljs-number">1</span>)
  vote(x) {
    <span class="hljs-keyword">this</span>.team = x;
    localStorage.setItem(<span class="hljs-string">'JSCOMPVOTE'</span>,x)
  }
}</code></pre>
                        <a href="localstorage_angular_typescript_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an xstream, storage driver implementation using CycleJS">
                        <p class="codeheadline">The same file in <a href="localstorage_cycle_storagedriver_info.html">an xstream, storage driver implementation</a> using <a href="cycle_info.html">CycleJS</a> (12.2.2):</p>
                        <pre><code><span class="hljs-keyword">import</span> xs <span class="hljs-keyword">from</span> <span class="hljs-string">'xstream'</span>
<span class="hljs-keyword">import</span> {div, button} <span class="hljs-keyword">from</span> <span class="hljs-string">'@cycle/dom'</span>

<span class="hljs-keyword">let</span> teams = [<span class="hljs-string">'Valor'</span>, <span class="hljs-string">'Mystic'</span>, <span class="hljs-string">'Instinct'</span>]

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Voter</span> (<span class="hljs-params">{DOM, store}</span>) </span>{
  <span class="hljs-keyword">const</span> vote$ = DOM.select(<span class="hljs-string">'button'</span>).events(<span class="hljs-string">'click'</span>).map(e =&gt; e.target.getAttribute(<span class="hljs-string">'data-t'</span>))
  <span class="hljs-keyword">return</span> {
    DOM: xs.merge(vote$, store).map(t =&gt; div(
      teams.map((_, n) =&gt; button({attrs: {<span class="hljs-string">'data-t'</span>: n, <span class="hljs-string">'class'</span>: (n === +t ? <span class="hljs-string">'active'</span> : <span class="hljs-string">''</span>)}}, [teams[n]])))
    ),
    store: vote$
  }
}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Voter
</code></pre>
                        <a href="localstorage_cycle_storagedriver_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an es6 implementation using Cyclow">
                        <p class="codeheadline">The same file in <a href="localstorage_cyclow_es6_info.html">an es6 implementation</a> using <a href="cyclow_info.html">Cyclow</a> (0.3.0):</p>
                        <pre><code>import { Block } from 'cyclow'
const {localStorage} = window

let teams = ['Valor', 'Mystic', 'Instinct']

const Voter = () =&gt; Block({
  events: {
    init: () =&gt; team =&gt; +(localStorage.getItem('JSCOMPVOTE') || 1),
    click: i =&gt; team =&gt; {
      localStorage.setItem('JSCOMPVOTE', i)
      return i
    }
  },
  view: team =&gt; ({content: teams.map((name, i) =&gt; ({
    tag: 'button',
    attrs: {class: team === i ? 'active' : ''},
    on: {click: (v, next) =&gt; next(['click', i])},
    content: name
  }))})
})

export default Voter
</code></pre>
                        <a href="localstorage_cyclow_es6_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a vanilla implementation using Vue">
                        <p class="codeheadline">The same file in <a href="localstorage_vue_vanilla_info.html">a vanilla implementation</a> using <a href="vue_info.html">Vue</a> (1.0.26):</p>
                        <pre><code><span class="hljs-keyword">import</span> Vue <span class="hljs-keyword">from</span> <span class="hljs-string">'vue'</span>
<span class="hljs-keyword">const</span> {localStorage} = <span class="hljs-built_in">window</span>

Vue.component(<span class="hljs-string">'voter'</span>, {
  template: <span class="hljs-string">`
    &lt;button v-for="t of teams" v-bind:class="{active: $index === team}" v-on:click="vote($index)"&gt;{{t}}&lt;/button&gt;
  `</span>,
  data: () =&gt; ({
    team: +(localStorage.getItem(<span class="hljs-string">'JSCOMPVOTE'</span>) || <span class="hljs-number">1</span>),
    teams: [<span class="hljs-string">'Valor'</span>, <span class="hljs-string">'Mystic'</span>, <span class="hljs-string">'Instinct'</span>]
  }),
  methods: {
    vote (x) {
      <span class="hljs-keyword">this</span>.team = x
      localStorage.setItem(<span class="hljs-string">'JSCOMPVOTE'</span>, x)
    }
  }
})
</code></pre>
                        <a href="localstorage_vue_vanilla_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                </div>
            </div>

        </div>
        <footer></footer>
    </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/code.js"></script>
</body>

</html>