<!DOCTYPE html>
<html>

<head>
    <title>angularjs - component w/ class</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <a id="logo" href="../index.html"></a>
        <h3>
            <span>a </span>component w/ class<span> implementation <br/>
  of the <a href="simpleclicker_info.html">simpleclicker</a> demo
  using <a href="angularjs_info.html">AngularJS</a>
  </span>
        </h3>

        <ul class="iconnav">
            <li class=" info">
                <a href="simpleclicker_angularjs_componentclass_info.html">info</a>
            </li>
            <li class=" file">
                <a href="simpleclicker_angularjs_componentclass_bootstrap.html">bootstrap.js</a>
            </li>
            <li class="current file">
                <a href="simpleclicker_angularjs_componentclass_clicker.html">clicker.js</a>
            </li>
            <li class=" file">
                <a href="simpleclicker_angularjs_componentclass_index.html">index.html</a>
            </li>
        </ul>

        <div class="content">

            <div id="codeselector" style="display:none;">
                Compare <code>clicker.js</code> to corresponding file in <select id="choosecode"></select>:
            </div>
            <br/><br/>
            <div class="sidebyside">
                <div>
                    <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'clickerapp'</span>)
  .component(<span class="hljs-string">'clicker'</span>, {
    <span class="hljs-attr">template</span>: <span class="hljs-string">`
      &lt;p&gt;{{$ctrl.count}} bottles of beer on the wall&lt;/p&gt;
      &lt;button ng-click="$ctrl.more()"&gt;Buy more&lt;/button&gt;
    `</span>,
    <span class="hljs-attr">controller</span>: <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Clicker</span> </span>{
      $onInit () {
        <span class="hljs-keyword">this</span>.count = <span class="hljs-number">3</span>
      }
      more () {
        <span class="hljs-keyword">this</span>.count = <span class="hljs-keyword">this</span>.count + <span class="hljs-number">1</span>
      }
    }
  })
</code></pre>
                </div>
                <div>
                    <div class="othercode" data-name="a component w/ ctrl implementation using AngularJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angularjs_componentinline_info.html">a component w/ ctrl implementation</a> using <a href="angularjs_info.html">AngularJS</a> (1.5.8):</p>
                        <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'clickerapp'</span>)
  .component(<span class="hljs-string">'clicker'</span>, {
    <span class="hljs-attr">template</span>: <span class="hljs-string">`
      &lt;p&gt;{{$ctrl.count}} bottles of beer on the wall&lt;/p&gt;
      &lt;button ng-click="$ctrl.more()"&gt;Buy more&lt;/button&gt;
    `</span>,
    <span class="hljs-attr">controller</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">this</span>.count = <span class="hljs-number">3</span>
      <span class="hljs-keyword">this</span>.more = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> <span class="hljs-keyword">this</span>.count++
    }
  })
</code></pre>
                        <a href="simpleclicker_angularjs_componentinline_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a component w/o ctrl implementation using AngularJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angularjs_componentseparate_info.html">a component w/o ctrl implementation</a> using <a href="angularjs_info.html">AngularJS</a> (1.5.8):</p>
                        <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'clickerapp'</span>)
  .controller(<span class="hljs-string">'clickerctrl'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.count = <span class="hljs-number">3</span>
    <span class="hljs-keyword">this</span>.more = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> <span class="hljs-keyword">this</span>.count++
  })
  .component(<span class="hljs-string">'clicker'</span>, {
    <span class="hljs-attr">template</span>: <span class="hljs-string">`
      &lt;p&gt;{{$ctrl.count}} bottles of beer on the wall&lt;/p&gt;
      &lt;button ng-click="$ctrl.more()"&gt;Buy more&lt;/button&gt;
    `</span>,
    <span class="hljs-attr">controller</span>: <span class="hljs-string">'clickerctrl'</span>
  })
</code></pre>
                        <a href="simpleclicker_angularjs_componentseparate_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a controller implementation using AngularJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angularjs_controller_info.html">a controller implementation</a> using <a href="angularjs_info.html">AngularJS</a> (1.5.8):</p>
                        <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'clickerapp'</span>)
  .controller(<span class="hljs-string">'clicker'</span>, [<span class="hljs-string">'$scope'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">$scope</span>) </span>{
    $scope.count = <span class="hljs-number">3</span>
    $scope.more = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> $scope.count++
  }])
</code></pre>
                        <a href="simpleclicker_angularjs_controller_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a controller as implementation using AngularJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angularjs_controlleras_info.html">a controller as implementation</a> using <a href="angularjs_info.html">AngularJS</a> (1.5.8):</p>
                        <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'clickerapp'</span>)
  .controller(<span class="hljs-string">'clicker'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.count = <span class="hljs-number">3</span>
    <span class="hljs-keyword">this</span>.more = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> <span class="hljs-keyword">this</span>.count++
  })
</code></pre>
                        <a href="simpleclicker_angularjs_controlleras_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a directive implementation using AngularJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angularjs_directive_info.html">a directive implementation</a> using <a href="angularjs_info.html">AngularJS</a> (1.5.8):</p>
                        <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'clickerapp'</span>)
  .directive(<span class="hljs-string">'clicker'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> {
      <span class="hljs-attr">restrict</span>: <span class="hljs-string">'E'</span>,
      <span class="hljs-attr">template</span>: <span class="hljs-string">`
        &lt;p&gt;{{count}} bottles of beer on the wall&lt;/p&gt;
        &lt;button ng-click="more()"&gt;Buy more&lt;/button&gt;
      `</span>,
      <span class="hljs-attr">link</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">scope</span>) </span>{
        scope.count = <span class="hljs-number">3</span>
        scope.more = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> scope.count++
      }
    }
  })
</code></pre>
                        <a href="simpleclicker_angularjs_directive_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a JavaScript implementation using Angular">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angular_javascript_info.html">a JavaScript implementation</a> using <a href="angular_info.html">Angular</a> (2.0.0-rc.6):</p>
                        <pre><code><span class="hljs-keyword">import</span> {Component} <span class="hljs-keyword">from</span> <span class="hljs-string">'@angular/core'</span>

<span class="hljs-keyword">let</span> Clicker = Component({
  <span class="hljs-attr">selector</span>: <span class="hljs-string">'#app'</span>,
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;p&gt;{{count}} bottles of beer on the wall&lt;/p&gt;
    &lt;button (click)="more()"&gt;Buy more&lt;/button&gt;
  `</span>
}).Class({
  <span class="hljs-attr">constructor</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.count = <span class="hljs-number">3</span>
  },
  more () {
    <span class="hljs-keyword">this</span>.count++
  }
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Clicker
</code></pre>
                        <a href="simpleclicker_angular_javascript_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a TypeScript implementation using Angular">
                        <p class="codeheadline">The same file in <a href="simpleclicker_angular_typescript_info.html">a TypeScript implementation</a> using <a href="angular_info.html">Angular</a> (2.0.0-rc.6):</p>
                        <pre><code><span class="hljs-keyword">import</span> {Component} from <span class="hljs-string">'@angular/core'</span>;

<span class="hljs-meta">@Component</span>({
  selector: <span class="hljs-string">'#app'</span>,
  template: <span class="hljs-string">`
    &lt;p&gt;{{count}} bottles of beer on the wall&lt;/p&gt;
    &lt;button (click)="more()"&gt;Buy more&lt;/button&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Clicker {
  count = <span class="hljs-number">3</span>
  more() {
    <span class="hljs-keyword">this</span>.count++
  }
}</code></pre>
                        <a href="simpleclicker_angular_typescript_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a vanilla implementation using Choo">
                        <p class="codeheadline">The same file in <a href="simpleclicker_choo_vanilla_info.html">a vanilla implementation</a> using <a href="choo_info.html">Choo</a> (4.1.0):</p>
                        <pre><code><span class="hljs-keyword">const</span> html = <span class="hljs-built_in">require</span>(<span class="hljs-string">'choo/html'</span>)

<span class="hljs-keyword">const</span> model = {
  <span class="hljs-attr">state</span>: { <span class="hljs-attr">count</span>: <span class="hljs-number">3</span> },
  <span class="hljs-attr">reducers</span>: {
    <span class="hljs-attr">buyMore</span>: <span class="hljs-function">(<span class="hljs-params">state, data</span>) =&gt;</span> ({ <span class="hljs-attr">count</span>: state.count + <span class="hljs-number">1</span> })
  }
}

<span class="hljs-keyword">const</span> view = <span class="hljs-function">(<span class="hljs-params">state, prev, send</span>) =&gt;</span> html<span class="hljs-string">`
  &lt;main&gt;
    &lt;p&gt;<span class="hljs-subst">${state.count}</span> bottles of beer on the wall&lt;/p&gt;
    &lt;button onclick=<span class="hljs-subst">${e =&gt; send(<span class="hljs-string">'buyMore'</span>)}</span>&gt;Buy more&lt;/button&gt;
  &lt;/main&gt;
`</span>

<span class="hljs-built_in">module</span>.exports = {<span class="hljs-attr">model</span>: model, <span class="hljs-attr">view</span>: view}
</code></pre>
                        <a href="simpleclicker_choo_vanilla_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a rxjs implementation using CycleJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_cycle_rxjs_info.html">a rxjs implementation</a> using <a href="cycle_info.html">CycleJS</a> (12.2.2):</p>
                        <pre><code><span class="hljs-keyword">import</span> {div, button} <span class="hljs-keyword">from</span> <span class="hljs-string">'@cycle/dom'</span>

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Clicker</span> (<span class="hljs-params">{DOM}</span>) </span>{
  <span class="hljs-keyword">const</span> click$ = DOM.select(<span class="hljs-string">'button'</span>).events(<span class="hljs-string">'click'</span>)
  <span class="hljs-keyword">const</span> count$ = click$.mapTo(<span class="hljs-number">1</span>).startWith(<span class="hljs-number">3</span>).scan(<span class="hljs-function">(<span class="hljs-params">acc, seed</span>) =&gt;</span> (acc || <span class="hljs-number">0</span>) + seed)
  <span class="hljs-keyword">return</span> {
    <span class="hljs-attr">DOM</span>: count$.map(<span class="hljs-function"><span class="hljs-params">count</span> =&gt;</span> div([
      div([count + <span class="hljs-string">' bottles of beer on the wall'</span>]),
      button([<span class="hljs-string">'Buy more'</span>])
    ]))
  }
}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Clicker
</code></pre>
                        <a href="simpleclicker_cycle_rxjs_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an xstream implementation using CycleJS">
                        <p class="codeheadline">The same file in <a href="simpleclicker_cycle_xstream_info.html">an xstream implementation</a> using <a href="cycle_info.html">CycleJS</a> (12.2.2):</p>
                        <pre><code><span class="hljs-keyword">import</span> {div, button} <span class="hljs-keyword">from</span> <span class="hljs-string">'@cycle/dom'</span>

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Clicker</span> (<span class="hljs-params">{DOM}</span>) </span>{
  <span class="hljs-keyword">const</span> click$ = DOM.select(<span class="hljs-string">'button'</span>).events(<span class="hljs-string">'click'</span>)
  <span class="hljs-keyword">const</span> count$ = click$.mapTo(<span class="hljs-number">1</span>).startWith(<span class="hljs-number">3</span>).fold(<span class="hljs-function">(<span class="hljs-params">acc, seed</span>) =&gt;</span> (acc || <span class="hljs-number">0</span>) + seed)
  <span class="hljs-keyword">return</span> {
    <span class="hljs-attr">DOM</span>: count$.map(<span class="hljs-function"><span class="hljs-params">count</span> =&gt;</span> div([
      div([count + <span class="hljs-string">' bottles of beer on the wall'</span>]),
      button([<span class="hljs-string">'Buy more'</span>])
    ]))
  }
}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Clicker
</code></pre>
                        <a href="simpleclicker_cycle_xstream_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an es6 implementation using Cyclow">
                        <p class="codeheadline">The same file in <a href="simpleclicker_cyclow_es6_info.html">an es6 implementation</a> using <a href="cyclow_info.html">Cyclow</a> (0.2.0):</p>
                        <pre><code><span class="hljs-keyword">import</span> {Block} <span class="hljs-keyword">from</span> <span class="hljs-string">'cyclow'</span>

<span class="hljs-keyword">const</span> Counter = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> Block({
  <span class="hljs-attr">events</span>: {
    <span class="hljs-attr">init</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> count =&gt; <span class="hljs-number">3</span>,
    <span class="hljs-attr">click</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> count =&gt; count + <span class="hljs-number">1</span>
  },
  <span class="hljs-attr">view</span>: <span class="hljs-function"><span class="hljs-params">count</span> =&gt;</span> ({<span class="hljs-attr">content</span>: [
    {<span class="hljs-attr">content</span>: <span class="hljs-string">`<span class="hljs-subst">${count}</span> bottles of beer on the wall`</span>},
    {<span class="hljs-attr">tag</span>: <span class="hljs-string">'button'</span>, <span class="hljs-attr">on</span>: {<span class="hljs-attr">click</span>: [<span class="hljs-string">'click'</span>]}, <span class="hljs-attr">content</span>: <span class="hljs-string">'Buy more'</span>}
  ]})
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Counter
</code></pre>
                        <a href="simpleclicker_cyclow_es6_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a react-elm-components implementation using Elm">
                        <p class="codeheadline">The same file in <a href="simpleclicker_elm_react-elm-comps_info.html">a react-elm-components implementation</a> using <a href="elm_info.html">Elm</a> (0.17.1):</p>
                        <pre><code><span class="hljs-keyword">port</span> <span class="hljs-keyword">module</span> Clicker <span class="hljs-keyword">exposing</span> (main)

<span class="hljs-keyword">import</span> Html <span class="hljs-keyword">exposing</span> (div, p, button, text)
<span class="hljs-keyword">import</span> Html.App <span class="hljs-keyword">exposing</span> (beginnerProgram)
<span class="hljs-keyword">import</span> Html.Events <span class="hljs-keyword">exposing</span> (onClick)


<span class="hljs-title">main</span> =
    beginnerProgram { model = <span class="hljs-number">3</span>, view = view, update = update }


<span class="hljs-title">view</span> model =
    div []
        [ p []
            [ text (toString model)
            , text <span class="hljs-string">" bottles of beer on the wall"</span>
            ]
        , button [ onClick <span class="hljs-type">Increment</span> ] [ text <span class="hljs-string">"Buy more"</span> ]
        ]


<span class="hljs-keyword">type</span> <span class="hljs-type">Msg</span>
    = <span class="hljs-type">Increment</span>


<span class="hljs-title">update</span> : <span class="hljs-type">Msg</span> -&gt; number -&gt; number
<span class="hljs-title">update</span> msg model =
    <span class="hljs-keyword">case</span> msg <span class="hljs-keyword">of</span>
        <span class="hljs-type">Increment</span> -&gt;
            model + <span class="hljs-number">1</span>
</code></pre>
                        <a href="simpleclicker_elm_react-elm-comps_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a createClass implementation using React">
                        <p class="codeheadline">The same file in <a href="simpleclicker_react_createclass_info.html">a createClass implementation</a> using <a href="react_info.html">React</a> (15.3.1):</p>
                        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>

<span class="hljs-keyword">let</span> Clicker = React.createClass({
  <span class="hljs-attr">getInitialState</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({<span class="hljs-attr">count</span>: <span class="hljs-number">3</span>}),
  more () {
    <span class="hljs-keyword">this</span>.setState({<span class="hljs-attr">count</span>: <span class="hljs-keyword">this</span>.state.count + <span class="hljs-number">1</span>})
  },
  render () {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>{this.state.count} bottles of beer on the wall<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.more}</span>&gt;</span>Buy more<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
  }
})

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Clicker
</code></pre>
                        <a href="simpleclicker_react_createclass_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an es6 class implementation using React">
                        <p class="codeheadline">The same file in <a href="simpleclicker_react_es6_info.html">an es6 class implementation</a> using <a href="react_info.html">React</a> (15.3.1):</p>
                        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Clicker</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">React</span>.<span class="hljs-title">Component</span> </span>{
  <span class="hljs-keyword">constructor</span> () {
    <span class="hljs-keyword">super</span>()
    <span class="hljs-keyword">this</span>.state = {<span class="hljs-attr">count</span>: <span class="hljs-number">3</span>}
    <span class="hljs-keyword">this</span>.more = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> <span class="hljs-keyword">this</span>.setState({<span class="hljs-attr">count</span>: <span class="hljs-keyword">this</span>.state.count + <span class="hljs-number">1</span>})
  }
  render () {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>{this.state.count} bottles of beer on the wall<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.more}</span>&gt;</span>Buy more<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
  }
}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Clicker
</code></pre>
                        <a href="simpleclicker_react_es6_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a recompose implementation using React">
                        <p class="codeheadline">The same file in <a href="simpleclicker_react_recompose_info.html">a recompose implementation</a> using <a href="react_info.html">React</a> (15.3.1):</p>
                        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>
<span class="hljs-keyword">import</span> {withState} <span class="hljs-keyword">from</span> <span class="hljs-string">'recompose'</span>

<span class="hljs-keyword">const</span> enhance = withState(<span class="hljs-string">'count'</span>, <span class="hljs-string">'more'</span>, <span class="hljs-number">3</span>)
<span class="hljs-keyword">const</span> Clicker = enhance(<span class="hljs-function">(<span class="hljs-params">{count, more}</span>) =&gt;</span> (
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>{count} bottles of beer on the wall<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{()</span> =&gt;</span> more(n =&gt; n + 1)}&gt;Buy more<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
))

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Clicker
</code></pre>
                        <a href="simpleclicker_react_recompose_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a vanilla implementation using Vue">
                        <p class="codeheadline">The same file in <a href="simpleclicker_vue_vanilla_info.html">a vanilla implementation</a> using <a href="vue_info.html">Vue</a> (1.0.26):</p>
                        <pre><code><span class="hljs-keyword">import</span> Vue <span class="hljs-keyword">from</span> <span class="hljs-string">'vue'</span>

Vue.component(<span class="hljs-string">'clicker'</span>, {
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;p&gt;{{count}} bottles of beer on the wall&lt;/p&gt;
    &lt;button v-on:click="more"&gt;Buy more&lt;/button&gt;
  `</span>,
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({<span class="hljs-attr">count</span>: <span class="hljs-number">3</span>}),
  <span class="hljs-attr">methods</span>: {
    more () {
      <span class="hljs-keyword">this</span>.count++
    }
  }
})
</code></pre>
                        <a href="simpleclicker_vue_vanilla_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                </div>
            </div>

        </div>
        <footer></footer>
    </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/code.js"></script>
</body>

</html>