<!DOCTYPE html>
<html>

<head>
    <title>angular - TypeScript</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="code.css">
</head>

<body>
    <div class="container-fluid">
        <a id="logo" href="../index.html"></a>
        <h3>
            <span>a </span>TypeScript<span> implementation <br/>
  of the <a href="twoway_info.html">twoway</a> demo
  using <a href="angular_info.html">Angular</a>
  </span>
        </h3>

        <ul class="iconnav">
            <li class=" info">
                <a href="twoway_angular_typescript_info.html">info</a>
            </li>
            <li class=" file">
                <a href="twoway_angular_typescript_bootstrap.html">bootstrap.ts</a>
            </li>
            <li class="current file">
                <a href="twoway_angular_typescript_phonebooth.html">phonebooth.ts</a>
            </li>
        </ul>

        <div class="content">

            <div id="codeselector" style="display:none;">
                Compare <code>phonebooth.ts</code> to corresponding file in <select id="choosecode"></select>:
            </div>
            <br/><br/>
            <div class="sidebyside">
                <div>
                    <pre><code><span class="hljs-keyword">import</span> {Component,ViewChild} from <span class="hljs-string">'@angular/core'</span>;

@Component({
  selector: <span class="hljs-string">'#app'</span>,
  template: <span class="hljs-string">`
    &lt;input #field [(ngModel)]="name"&gt;&lt;br/&gt;
    &lt;p&gt;Your name is {{name}}.&lt;/p&gt;
    &lt;button (click)="change()"&gt;Put on costume&lt;/button&gt;
  `</span>
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> Phonebooth {
  @ViewChild(<span class="hljs-string">'field'</span>) input
  name = <span class="hljs-string">'Steve'</span>
  change() {
    <span class="hljs-keyword">this</span>.name = <span class="hljs-string">'Batman'</span>
    <span class="hljs-keyword">this</span>.input.nativeElement.focus()
  }
}</code></pre>
                </div>
                <div>
                    <div class="othercode" data-name="a component implementation using AngularJS">
                        <p class="codeheadline">The same file in <a href="twoway_angularjs_component_info.html">a component implementation</a> using <a href="angularjs_info.html">AngularJS</a> (1.5.8):</p>
                        <pre><code><span class="hljs-keyword">import</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>

angular.module(<span class="hljs-string">'phoneboothapp'</span>)
  .component(<span class="hljs-string">'phonebooth'</span>, {
    template: <span class="hljs-string">`
      &lt;input ng-model="$ctrl.name"&gt;&lt;br/&gt;
      &lt;p&gt;Your name is {{$ctrl.name}}.&lt;/p&gt;
      &lt;button ng-click="$ctrl.change()"&gt;Put on costume&lt;/button&gt;
    `</span>,
    controller: <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Phonebooth</span> </span>{
      <span class="hljs-keyword">constructor</span> ($element) {
        <span class="hljs-keyword">this</span>.field = $element.find(<span class="hljs-string">'input'</span>)[<span class="hljs-number">0</span>]
        <span class="hljs-keyword">this</span>.name = <span class="hljs-string">'Steve'</span>
      }
      change () {
        <span class="hljs-keyword">this</span>.name = <span class="hljs-string">'Batman'</span>
        <span class="hljs-keyword">this</span>.field.focus()
      }
    }
  })
</code></pre>
                        <a href="twoway_angularjs_component_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="an xstream implementation using CycleJS">
                        <p class="codeheadline">The same file in <a href="twoway_cycle_xstream_info.html">an xstream implementation</a> using <a href="cycle_info.html">CycleJS</a> (12.2.2):</p>
                        <pre><code><span class="hljs-keyword">import</span> xs <span class="hljs-keyword">from</span> <span class="hljs-string">'xstream'</span>
<span class="hljs-keyword">import</span> {div, input, p, button} <span class="hljs-keyword">from</span> <span class="hljs-string">'@cycle/dom'</span>

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">Phonebooth</span> (<span class="hljs-params">{DOM}</span>) </span>{
  <span class="hljs-keyword">const</span> type$ = DOM.select(<span class="hljs-string">'input'</span>)
    .events(<span class="hljs-string">'input'</span>)
    .map(e =&gt; e.target.value)
    .startWith(<span class="hljs-string">'Steve'</span>)
  <span class="hljs-keyword">const</span> click$ = DOM.select(<span class="hljs-string">'button'</span>)
    .events(<span class="hljs-string">'click'</span>)
    .mapTo(<span class="hljs-string">'Batman'</span>)
  <span class="hljs-keyword">return</span> {
    DOM: xs.merge(type$, click$).map(name =&gt; div([
      input({props: {value: name}}),
      p([<span class="hljs-string">'Your name is '</span> + name + <span class="hljs-string">'.'</span>]),
      button([<span class="hljs-string">'Put on costume'</span>])
    ])),
    focus: click$
  }
}

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> Phonebooth
</code></pre>
                        <a href="twoway_cycle_xstream_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a react-elm-components implementation using Elm">
                        <p class="codeheadline">The same file in <a href="twoway_elm_react-elm-components_info.html">a react-elm-components implementation</a> using <a href="elm_info.html">Elm</a> (0.17.1):</p>
                        <pre><code><span class="hljs-keyword">port</span> <span class="hljs-keyword">module</span> Phonebooth <span class="hljs-keyword">exposing</span> (main)

<span class="hljs-keyword">import</span> Html <span class="hljs-keyword">exposing</span> (<span class="hljs-type">Html</span>, <span class="hljs-type">Attribute</span>, div, input, text, button, p)
<span class="hljs-keyword">import</span> Html.App <span class="hljs-keyword">as</span> App
<span class="hljs-keyword">import</span> Html.Attributes <span class="hljs-keyword">exposing</span> (..)
<span class="hljs-keyword">import</span> Html.Events <span class="hljs-keyword">exposing</span> (onInput, onClick)


<span class="hljs-title">main</span> =
    <span class="hljs-type">App</span>.beginnerProgram { model = model, view = view, update = update }



<span class="hljs-comment">-- MODEL</span>


<span class="hljs-keyword">type</span> <span class="hljs-keyword">alias</span> <span class="hljs-type">Model</span> =
    { name : <span class="hljs-type">String</span>
    }


<span class="hljs-title">model</span> : <span class="hljs-type">Model</span>
<span class="hljs-title">model</span> =
    { name = <span class="hljs-string">"Steve"</span> }



<span class="hljs-comment">-- UPDATE</span>


<span class="hljs-keyword">type</span> <span class="hljs-type">Msg</span>
    = <span class="hljs-type">ChangeName</span> <span class="hljs-type">String</span>
    | <span class="hljs-type">SuitUp</span>


<span class="hljs-title">update</span> : <span class="hljs-type">Msg</span> -&gt; <span class="hljs-type">Model</span> -&gt; <span class="hljs-type">Model</span>
<span class="hljs-title">update</span> msg model =
    <span class="hljs-keyword">case</span> msg <span class="hljs-keyword">of</span>
        <span class="hljs-type">ChangeName</span> newName -&gt;
            { model | name = newName }

        <span class="hljs-type">SuitUp</span> -&gt;
            { name = <span class="hljs-string">"Batman"</span> }



<span class="hljs-comment">-- VIEW</span>


<span class="hljs-title">view</span> : <span class="hljs-type">Model</span> -&gt; <span class="hljs-type">Html</span> <span class="hljs-type">Msg</span>
<span class="hljs-title">view</span> model =
    div []
        [ div [] [ input [ onInput <span class="hljs-type">ChangeName</span>, value model.name ] [] ]
        , p []
            [ text <span class="hljs-string">"Your name is "</span>
            , text model.name
            ]
        , button [ onClick <span class="hljs-type">SuitUp</span> ] [ text <span class="hljs-string">"Put on costume"</span> ]
        ]
</code></pre>
                        <a href="twoway_elm_react-elm-components_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a createClass implementation using React">
                        <p class="codeheadline">The same file in <a href="twoway_react_createclass_info.html">a createClass implementation</a> using <a href="react_info.html">React</a> (15.3.1):</p>
                        <pre><code><span class="hljs-keyword">import</span> React <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>

<span class="hljs-keyword">let</span> Phonebooth = React.createClass({
  getInitialState: () =&gt; ({name: <span class="hljs-string">'Steve'</span>}),
  change () {
    <span class="hljs-keyword">this</span>.setState({name: <span class="hljs-string">'Batman'</span>})
    <span class="hljs-keyword">this</span>.refs.field.focus()
  },
  type (e) {
    <span class="hljs-keyword">this</span>.setState({name: e.target.value})
  },
  render () {
    <span class="hljs-keyword">let</span> name = <span class="hljs-keyword">this</span>.state.name
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">ref</span>=<span class="hljs-string">'field'</span> <span class="hljs-attr">onChange</span>=<span class="hljs-string">{this.type}</span> <span class="hljs-attr">value</span>=<span class="hljs-string">{name}</span> /&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Your name is {name}<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.change}</span>&gt;</span>Put on costume<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  }
})

export default Phonebooth
</span></code></pre>
                        <a href="twoway_react_createclass_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                    <div class="othercode" data-name="a vanilla implementation using Vue">
                        <p class="codeheadline">The same file in <a href="twoway_vue_vanilla_info.html">a vanilla implementation</a> using <a href="vue_info.html">Vue</a> (1.0.26):</p>
                        <pre><code><span class="hljs-keyword">import</span> Vue <span class="hljs-keyword">from</span> <span class="hljs-string">'vue'</span>

Vue.component(<span class="hljs-string">'phonebooth'</span>, {
  template: <span class="hljs-string">`
    &lt;input v-model="name" v-el:input&gt;&lt;br/&gt;
    &lt;p&gt;Your name is {{name}}.&lt;/p&gt;
    &lt;button v-on:click="change"&gt;Put on costume&lt;/button&gt;
  `</span>,
  data: () =&gt; ({name: <span class="hljs-string">'Steve'</span>}),
  methods: {
    change () {
      <span class="hljs-keyword">this</span>.name = <span class="hljs-string">'Batman'</span>
      <span class="hljs-keyword">this</span>.$els.input.focus()
    }
  }
})
</code></pre>
                        <a href="twoway_vue_vanilla_info.html" class="codelink" style="display:none;">visit this implementation</a>
                        <br/>
                        <button class="codelink hider" style="display:none;">hide</button>
                    </div>
                </div>
            </div>

        </div>
        <footer></footer>
    </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/code.js"></script>
</body>

</html>